.GalleryEditor {
  position: relative; }
  .GalleryEditor label {
    display: block; }
  .GalleryEditor .checkbox {
    padding-left: 0; }
  .GalleryEditor div.checkbox {
    position: absolute !important;
    left: 5px;
    bottom: 5px; }
  .GalleryEditor .modal-header {
    position: relative; }
  .GalleryEditor .modal {
    width: 800px;
    height: 1000px;
    margin: auto; }
  .GalleryEditor div.gform {
    margin: 0; }
    .GalleryEditor div.gform > .btn:first-child {
      margin-left: 4px; }
    .GalleryEditor div.gform .btn {
      padding: 4px 8px; }
  .GalleryEditor .photo {
    position: relative;
    float: left;
    background-color: #fff;
    margin: 4px;
    width: 140px;
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
    .GalleryEditor .photo img {
      height: 130px;
      max-width: 140px; }
    .GalleryEditor .photo a {
      padding-left: 8px; }
    .GalleryEditor .photo .actions {
      float: right;
      position: absolute;
      bottom: 4px;
      right: 4px; }
  .GalleryEditor .btn-group {
    box-sizing: border-box;
    color: #333333;
    display: block;
    float: left;
    font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 486px; }
  .GalleryEditor hr {
    margin: 0 4px; }
  .GalleryEditor .fileinput-button {
    position: relative;
    overflow: hidden;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px; }
    .GalleryEditor .fileinput-button input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      transform: translate(-300px, 0) scale(4);
      font-size: 23px;
      opacity: 0;
      -moz-transform: translate(-300px, 0) scale(4);
      direction: ltr;
      cursor: pointer; }
  .GalleryEditor .preview {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
    overflow: hidden;
    float: left; }
    .GalleryEditor .preview img {
      max-width: 800px;
      max-height: 200px; }
  .GalleryEditor .photo-editor {
    DISPLAY: inline-block;
    min-height: 250px;
    /* margin-bottom: 4px; */
    /* padding: 4px; */
    /* border: 1px solid #DDD; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
  .GalleryEditor .caption {
    opacity: 0;
    height: 0;
    overflow: hidden; }
    .GalleryEditor .caption h5 {
      margin: 0;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden; }
    .GalleryEditor .caption p {
      height: 3em;
      overflow: hidden;
      font-size: 13px; }
    .GalleryEditor .caption article {
      opacity: 0; }
  .GalleryEditor .image-preview {
    text-align: center;
    overflow: hidden; }
  .GalleryEditor .photo-select {
    position: absolute;
    bottom: 8px;
    left: 8px; }
  .GalleryEditor .photo.selected {
    background-color: #cef;
    border-color: blue; }
  .GalleryEditor .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .GalleryEditor .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #efefef;
    opacity: 0.5;
    width: 100%;
    height: 100%; }
  .GalleryEditor .drop-hint {
    background-color: #efefef;
    border: 2px #777 dashed;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 50%;
    margin: -50px 0 0 -25%;
    text-align: center; }
  .GalleryEditor .drop-hint-info {
    color: #777;
    font-weight: bold;
    font-size: 30px;
    margin-top: 35px;
    vertical-align: middle;
    display: inline-block; }
  .GalleryEditor .progress-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .GalleryEditor .progress-overlay .modal {
      position: relative;
      top: 80px; }
  .GalleryEditor .editor-modal .modal-header, .GalleryEditor .editor-modal .modal-body, .GalleryEditor .editor-modal .modal-footer {
    background-color: white; }

.row {
  margin: 0; }

input#Page_upload {
  display: inline-block !important; }

.photo-editor form {
  margin-bottom: 0; }

.GalleryEditor.over .overlay {
  display: block; }
