.GalleryEditor {

    @import "../../bootstrap/assets/less/bootstrap.less";

    position: relative;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    div.gform {
        margin: 0;
        & > .btn:first-child {
            margin-left: 4px;
        }
        .btn {
            padding: 4px 8px;
        }
    }
    .photo {
        position: relative;
        float: left;
        background-color: #fff;
        margin: 4px;
        height: 178px;
        width: 140px;
        display: block;
        padding: 4px;
        line-height: 1;
        border: 1px solid #DDD;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        img {
            height: 130px;
            max-width: 140px;
        }
        a {
            padding-left: 8px;
        }
        .actions {
            float: right;
            position: absolute;
            bottom: 4px;
            right: 4px;
        }
    }
    .btn-group {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: block;
        float: left;
        font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 30px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
        text-align: left;
        vertical-align: middle;
        width: 486px;
    }
    hr {
        margin: 0 4px;
    }
    .fileinput-button {
        position: relative;
        overflow: hidden;
        margin-left: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            transform: translate(-300px, 0) scale(4);
            font-size: 23px;
            opacity: 0;

            -moz-transform: translate(-300px, 0) scale(4);
            direction: ltr;
            cursor: pointer;
        }
    }
    .preview {
        width: 100%;
      text-align: center;
        overflow: hidden;

        margin-right: 10px;
        overflow: hidden;
        float: left;
        img {
          display: none;
            width: 200px;
        }
    }
    .photo-editor {
        min-height: 250px;
        margin-bottom: 4px;
        padding: 4px;
        border: 1px solid #DDD;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .caption {
      opacity: 0;
        h5 {
            margin: 0;
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
        }
        p {
            height: 3em;
            overflow: hidden;
            font-size: 13px;
        }
      article{
        opacity: 0;

      }
    }
    .image-preview {

      text-align: center;
        overflow: hidden;
    }
    .photo-select {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }
    .photo.selected {
        background-color: #cef;
        border-color: blue;
    }
    .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .overlay-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #efefef;
        opacity: .5;
        width: 100%;
        height: 100%;
    }
    .drop-hint {
        background-color: #efefef;
        border: 2px #777 dashed;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100px;
        width: 50%;
        margin: -50px 0 0 -25%;
        text-align: center;
    }
    .drop-hint-info {
        color: #777;
        font-weight: bold;
        font-size: 30px;
        margin-top: 35px;
        vertical-align: middle;
        display: inline-block;
    }
    .progress-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .modal {
            position: relative;
            top: 80px;
        }
    }
    .editor-modal{
        .modal-header,.modal-body,.modal-footer{
            background-color: white;

        }
    }
}
.row {
    margin: 0;
}
input#Page_upload {
    display: inline-block !important;
}
.photo-editor {
    form {
        margin-bottom: 0;
    }
}
.GalleryEditor.no-desc {
    .photo {
        height: 130px;
    }
}
.GalleryEditor.no-name {
    .photo {
        height: 160px;
    }
}
.GalleryEditor.no-name-no-desc {
    .photo {
        height: 120px;
    }
}
.GalleryEditor.over {
    .overlay {
        display: block;
    }

}
