@import "variables";
@import "../bs/stylesheets/bootstrap/_mixins";

// Reset and dependencies
@import "../bs/stylesheets/bootstrap/_normalize";
@import "../bs/stylesheets/bootstrap/_print";
@import "../bs/stylesheets/bootstrap/_glyphicons";

// Core CSS
//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;




}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive;
}

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  @include transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] {
  cursor: pointer;
}
@import "../bs/stylesheets/bootstrap/_type";
@import "../bs/stylesheets/bootstrap/_code";
//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {

}


// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}

@import "../bs/stylesheets/bootstrap/_tables";
@import "../bs/stylesheets/bootstrap/_forms";
@import "../bs/stylesheets/bootstrap/_buttons";

// Components
@import "../bs/stylesheets/bootstrap/_component-animations";
@import "../bs/stylesheets/bootstrap/_dropdowns";
@import "../bs/stylesheets/bootstrap/_button-groups";
@import "../bs/stylesheets/bootstrap/_input-groups";
@import "../bs/stylesheets/bootstrap/_navs";
@import "../bs/stylesheets/bootstrap/_navbar";
@import "../bs/stylesheets/bootstrap/_breadcrumbs";
@import "../bs/stylesheets/bootstrap/_pagination";
@import "../bs/stylesheets/bootstrap/_pager";
@import "../bs/stylesheets/bootstrap/_labels";
@import "../bs/stylesheets/bootstrap/_badges";
@import "../bs/stylesheets/bootstrap/_jumbotron";
@import "../bs/stylesheets/bootstrap/_thumbnails";
@import "../bs/stylesheets/bootstrap/_alerts";
@import "../bs/stylesheets/bootstrap/_progress-bars";
@import "../bs/stylesheets/bootstrap/_media";
@import "../bs/stylesheets/bootstrap/_list-group";
@import "../bs/stylesheets/bootstrap/_panels";
@import "../bs/stylesheets/bootstrap/_responsive-embed";
@import "../bs/stylesheets/bootstrap/_wells";
@import "../bs/stylesheets/bootstrap/_close";

// Components w/ JavaScript
@import "../bs/stylesheets/bootstrap/_modals";
@import "../bs/stylesheets/bootstrap/_tooltip";
@import "../bs/stylesheets/bootstrap/_popovers";
@import "../bs/stylesheets/bootstrap/_carousel";

// Utility classes
@import "../bs/stylesheets/bootstrap/_utilities";
@import "../bs/stylesheets/bootstrap/_responsive-utilities";
