
html, body {

    /*overflow:hidden;*/
    margin: auto; /* center in viewport */
    width: 100%;
    min-height:100%;


    background-color:#F5F5F5;
}

/* Links */
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a:link, a:visited, a.light {
    color: #309bbf;
}
a:hover, a:active, a.selected {
    color: #444;
}

.marleft {
    margin-left:10px;
}

.marright {
    margin-right:10px;
}

.marleft20 {
    margin-left:20px;
}

.marright20 {
    margin-right:20px;
}

.margin-all {
    margin: 10px;
}

.padding-all {
    padding: 10px;
}

#doc3 {
    margin: 0;
}
/* Header */
#hd {
    background-image:url(../images/panel_bg.png);
    background-color:#363636;
    color:#fff;
    height:26px;
    -moz-box-shadow: 0px 5px 5px #ccc;
    -webkit-box-shadow: 0px 5px 5px #ccc;
    box-shadow: 0px 5px 5px #ccc;
}
/* Body */
#bd {
    min-height:500px;
}
/* Footer */
#ft {

}

#content {
    /*padding:10px;*/
    border:1px solid silver;
    border-radius:5px;
    background: #EEE;
}

#sidebar {

}

/* Breadcrumbs, buttons, etc.. */
#navigation {
    /*background-image:url(../images/navi_bg.jpg);*/
    background-image:url('../images/header_bg.gif');
    /*background-color:silver;*/
    /*border-bottom:1px solid silver;*/
    margin:0 0 5px 0;
    height:38px;
    z-index:500;
}

#nav {
    z-index:501;
}

#navigation .navigation-content-left {
    margin:8px 0 0 10px;
}

#navigation .navigation-content-right {
    margin:6px 10px 0 0;

}

#navigation .navigation-content a {
    font-size:11px;
}

#topMenu {
    cursor:pointer;
    margin:5px 0 0 10px;
}

.sidebarBlock {
    margin-top:15px;
    background:#F3F3F3;
}

.sidebarBlock h3 {
    /*background:#E0E0E0;*/
    /*background:#5C5C5C;*/
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding:7px 0 7px 7px;
    margin:0;
    background: #DFE2E4;
    background: -moz-linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E6ECEF), color-stop(99%,#D0D6DA));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6ECEF', endColorstr='#D0D6DA',GradientType=0 );
    zoom: 1;
}

#sidebar .sidebarBlock .blockContent {
    border:1px solid #E0E0E0;
    padding:5px;
}

#sidebar .sidebarBlock input[type=text], .sidebarBlock select {
    width:200px;
}

#topRightMenu {
    text-align:right;
    margin-top:5px;
}

#topRightMenu a {
    color:#A2A2A2;
    padding:4px;
    font-size:11px;
}
#topRightMenu a:hover {
    color:#fff;
}

select {
    font-size:12px;
}

.variantsTable thead tr td {
    padding: 5px;
}
.variantsTable tr td {
    padding: 3px;
}
.variantsTable tr td input[type=text]{
    /*width: 90%;*/
}
.items .filters .hasDatepicker {
    background-image: url(../images/player_time.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}

#topSearchBox {
    border: 1px solid #5D5D5D;
    background-color: #848484;
    outline: 0;
    font-size: 12px;
    padding: 1px 1px 1px 18px;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 2px 50%;
    width: 70px;
    margin-right: 10px;
    opacity: 0.5;
    -o-transition:width 0.3s ease-in-out;
    -ms-transition:width 0.3s ease-in-out;
    -moz-transition:width 0.3s ease-in-out;
    -webkit-transition:width 0.3s ease-in-out;
}
#topSearchBox:focus {
    background-color: #dddddd;
    color: #535353;
    width: 160px;
    opacity: 1;
}

#topSearchForm {
    width: 200px;
    float: none;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.circle_label {
    font-size: 11px;
    background-color: #b94a48;
    border-radius: 9px;
    padding: 2px;
    min-width: 14px;
    float: right;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    vertical-align: baseline;
    margin-left: -3px;
    cursor: pointer;
    display: none;
    margin-top: 3px;
}
.small-footer-text {
    text-align: center;
    color: #a6a6a8;
    font-size: 11px;
}
.small-footer-text a {
    color: #79797f
}

table.orderHistory span.date {
    color: #969696;
    font-size: 11px;
}
table.orderHistory thead {
    font-weight: bold;
}
table.orderHistory tr td {
    border: 1px solid #c0c0c0;
}
table.orderHistory tbody tr:hover {
    background-color: #cfd6e3;
    cursor: pointer;
}
table.orderHistory tr td {
    padding: 5px;
    vertical-align: top;
}
table.orderHistory tr.even {
    background: #F9F9F9;
}