@import "libs/utils";

@include generate(300);
@include padding(300);
@include h(100);
@include border(1px);
@include reqtangle(300);
@include square_gen(100,$brand-primary,'');

.navbar{
  &.navbar-small{
    min-height: 30px;
    border: none;
    .nav{
      border: none;
      li{
        border: none;
        margin-left: 0;
        a{
          color:white;
          line-height: 20px;
          border: none;
          padding-top: 5px;
          padding-bottom: 5px;

        }
        &.active,&:hover,&:focus{
          a{
            color:$gray-dark
          }
        }
      }
    }
  }
}