
div.form {


    label{
      padding-top: 0;
    }
    .row{
      padding: 0;
    }

}
div.wide form{


  #tab_4 {
    margin-bottom: 50px;

    padding-bottom: 11px;
    label {
      float: inherit !important;
      margin-right: inherit !important;
      position: inherit !important;
      text-align: inherit !important;
      width: inherit !important;
      font-size: inherit !important;
      color: inherit !important;
    }
    .form-horizontal{
      label {
        float: left !important;
      }
    }
    .form-inline{
      .form-group{
        line-height: 40px;
      }
      label{
        float: left !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
      }
    }
  }
}


@import "variables";
@import "mixins";
@import "utilities";
.form #tab_4 {



  @import "normalize";
  @import "bootstrap";


  label{
    margin-right: 0 !important;
  }

  textarea{
    min-height: 70px;
  }

}

.form #tab_4 input[type="radio"], .form #tab_4 input[type="checkbox"]{
  margin: 0;
}
.form #tab_4 .radio label, .form #tab_4 .checkbox label{
  padding-top: 0;
}

div.wide form #tab_4{
  border: none !important;
}

.row{
  margin: 0 !important;
}