@charset "UTF-8";

#yii-debug-toolbar{

@font-face {
        font-family: "yii-debug";
        src:url("fonts/yii-debug.eot");
        src:url("fonts/yii-debug.eot?#iefix") format("embedded-opentype"),url("fonts/yii-debug.ttf") format("truetype"),url("fonts/yii-debug.svg#yii-debug") format("svg"),url("fonts/yii-debug.woff") format("woff");
        font-weight: normal;
        font-style: normal;


}
[data-icon]:before {
    font-family: "yii-debug" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,[class*=" icon-"]:before {
    font-family: "yii-debug" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-cycle:before {
    content: "c";
}
.icon-arrow-down:before {
    content: "d";
}
.icon-arrow-right:before {
    content: "f";
}
.icon-arrow-up-thin:before {
    content: "g";
}
.icon-arrow-left-thin:before {
    content: "e";
}
.icon-cross:before {
    content: "h";
}
.icon-coins:before {
    content: "i";
}
.icon-block-menu:before {
    content: "j";
}
.icon-settings:before {
    content: "k";
}
.icon-eye:before {
    content: "l";
}
.icon-female-symbol:before {
    content: "m";
}
.icon-hdd-raid:before {
    content: "n";
}
.icon-bolt:before {
    content: "o";
}
.icon-stopwatch:before {
    content: "a";
}
.icon-gauge:before {
    content: "b";
}
.icon-chart-line:before {
    content: "p";
}
.icon-down-open-mini:before {
    content: "q";
}
.icon-up-open-mini:before {
    content: "r";
}
.icon-locked:before {
    content: "z";
}
.icon-content-44:before {
    content: "s";
}
.icon-right-open-mini:before {
    content: "t";
}
.icon-left-open-mini:before {
    content: "u";
}

}