@charset "UTF-8";
@font-face {
  font-family: "yii-debug";
  src: url("fonts/yii-debug.eot");
  src: url("fonts/yii-debug.eot?#iefix") format("embedded-opentype"), url("fonts/yii-debug.ttf") format("truetype"), url("fonts/yii-debug.svg#yii-debug") format("svg"), url("fonts/yii-debug.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#yii-debug-toolbar [data-icon]:before {
  font-family: "yii-debug" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#yii-debug-toolbar [class^="icon-"]:before,
#yii-debug-toolbar [class*=" icon-"]:before {
  font-family: "yii-debug" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#yii-debug-toolbar .icon-arrow-cycle:before {
  content: "c";
}
#yii-debug-toolbar .icon-arrow-down:before {
  content: "d";
}
#yii-debug-toolbar .icon-arrow-right:before {
  content: "f";
}
#yii-debug-toolbar .icon-arrow-up-thin:before {
  content: "g";
}
#yii-debug-toolbar .icon-arrow-left-thin:before {
  content: "e";
}
#yii-debug-toolbar .icon-cross:before {
  content: "h";
}
#yii-debug-toolbar .icon-coins:before {
  content: "i";
}
#yii-debug-toolbar .icon-block-menu:before {
  content: "j";
}
#yii-debug-toolbar .icon-settings:before {
  content: "k";
}
#yii-debug-toolbar .icon-eye:before {
  content: "l";
}
#yii-debug-toolbar .icon-female-symbol:before {
  content: "m";
}
#yii-debug-toolbar .icon-hdd-raid:before {
  content: "n";
}
#yii-debug-toolbar .icon-bolt:before {
  content: "o";
}
#yii-debug-toolbar .icon-stopwatch:before {
  content: "a";
}
#yii-debug-toolbar .icon-gauge:before {
  content: "b";
}
#yii-debug-toolbar .icon-chart-line:before {
  content: "p";
}
#yii-debug-toolbar .icon-down-open-mini:before {
  content: "q";
}
#yii-debug-toolbar .icon-up-open-mini:before {
  content: "r";
}
#yii-debug-toolbar .icon-locked:before {
  content: "z";
}
#yii-debug-toolbar .icon-content-44:before {
  content: "s";
}
#yii-debug-toolbar .icon-right-open-mini:before {
  content: "t";
}
#yii-debug-toolbar .icon-left-open-mini:before {
  content: "u";
}
