@import "libs/response_lib";
html,body{
  height: 100%;
}
body{
  @include min-screen(1200px){
    overflow: hidden;
  }
}
footer{
  position: fixed;
  bottom: 0;
  width:100%;
  @include min-screen(375px) {
    position: static !important;
  }
  @include min-screen(768px) {
    position: fixed !important;
  }
}
.about{
  background: url("../img/about_bg.jpg") center no-repeat;
  //background-size: auto 100%;
  border-top: 1px solid #7652B2;
  display: block;
  background-size: 100% auto;
  @include iphone-all(){
    background-size: cover;
  }
  background-position: top center;
  height:calc(100% - (120px + 70px));
  @include ipad(){
    background-size: cover;
    height:calc(100% - (120px + 70px));
  }
  @include iphone-all(){
    background-size: cover;
    height:calc(100%);
  }
  -webkit-box-shadow: 0px 1px 0px 0px #FFF inset;
  -moz-box-shadow:    0px 1px 0px 0px #FFF inset;
  box-shadow:         0px 1px 0px 0px #FFF inset;
  color: #FFF;
  & > div{
    position: static !important;
  }
  img{
    max-width: 100%;
  }
  .bgBox{
    background: #7652B2;
    h3{
      border-bottom: 1px solid #beafd7;
      span{
        background: #7652B2
      }
    }
  }
}