html, body {
  height: 100%; }

@media screen and (min-width: 1200px) {
  body {
    overflow: hidden; } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%; }
  @media screen and (min-width: 375px) {
    footer {
      position: static !important; } }
  @media screen and (min-width: 768px) {
    footer {
      position: fixed !important; } }

.about {
  background: url("../img/about_bg.jpg") center no-repeat;
  border-top: 1px solid #7652B2;
  display: block;
  background-size: 100% auto;
  background-position: top center;
  height: calc(100% - (120px + 70px));
  -webkit-box-shadow: 0px 1px 0px 0px #FFF inset;
  -moz-box-shadow: 0px 1px 0px 0px #FFF inset;
  box-shadow: 0px 1px 0px 0px #FFF inset;
  color: #FFF; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
    .about {
      background-size: cover; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .about {
      background-size: cover;
      height: calc(100% - (120px + 70px)); } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .about {
      background-size: cover;
      height: calc(100% - (120px + 70px)); } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
    .about {
      background-size: cover;
      height: calc(100%); } }
  .about > div {
    position: static !important; }
  .about img {
    max-width: 100%; }
  .about .bgBox {
    background: #7652B2; }
    .about .bgBox h3 {
      border-bottom: 1px solid #beafd7; }
      .about .bgBox h3 span {
        background: #7652B2; }
