@import "variables";
@import "utils";
@import "response_lib";
@import "media";
@include padding(200);
@include h(300);
@include generate(50);
@include scaleclass(100);
@import "../fonts/fonts";


body{

}

.ralewaybold{
  font-family: ralewaybold,sans-serif;
}

header{
  width: 100%;
  @include min-screen($screen-md){
    height: 120px;
    line-height: 120px;
    a{
      display: inline-block;
      vertical-align: middle;
    }
  }
  @include max-screen(768px){
    height: 108px;
    padding-top: 15px;
  }
  @include max-screen(1025px){
    //height: 60px;
    //line-height: 60px;
    a{
      display: inline-block;
      vertical-align: middle;
      line-height: 34px;
    }
  }
  .first{

    .logo{
      @include max-screen(400px){
        margin-top: 15px;
      }
      img{
        width:128px;
        height: 37px;
        display: inline-block;
      }
    }
    @include max-screen($screen-md){
      text-align: center;
    }
  }
  .middle{
    .col-md-6{
      &:first-of-type{
        text-align: right;
      }
      &:last-of-type{
        text-align: left;
      }
    }
    @include max-screen($screen-xs){
      .text-justify{
        li{
          //width: 100%;
          text-align: center;
        }
      }
    }
    @include max-screen(768px){
      ul{
        text-align: right;
        width: 100%;
      }
    }
  }
  .search{
    input{
      border:  1px solid transparent;
      background: transparent;
      box-shadow: none;
      &:focus{
        background: transparent;
        box-shadow: none;
        border: 1px solid #7652B2;
      }
    }
    .btn,.input-group-addon{
      background: transparent;
      box-shadow: none;
      border: none;
      padding-right: 20px;
    }
  }
  a{
    color: rgba(93, 93, 93, 0.5);
  }
}
.slideBtns{
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
  z-index: 1000;
  @include max-screen(1024px){
    bottom: 50px;
  }
  a{
    font-family: $font-family-ralewaysemibold;
    font-size: 17pt;
    color: #FFF;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    width: 290px;
    box-sizing: border-box;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .btn-primary{
    background-image: url(../img/routesBtn.svg);
    background-position: 13px center;
    background-repeat: no-repeat;
    padding-left: 65px;
  }
}

/* Slider */
.sliderTop{
  .item {
    &:before,
    &:after{
      position: absolute;
      bottom: 0;
      height: 0;
      width: 50%;
      content: " ";
    }
    &:before{
      left: 50%;
      border-bottom: 35px solid #FFF;
      border-left: 35px solid transparent;
      z-index: 100000;
    }
    &:after{
      right: 50%;
      border-bottom: 35px solid #FFF;
      border-right: 35px solid transparent;
      z-index: 100000;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
    }
    .slideText{
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      font-size: 22px;
      color: #FFF;
      h3{
        font-family: $font-family-ralewaybold;
        font-size: 85px;
        margin-bottom: 2px;
      }
      p{
        line-height: 1;
        margin-bottom: 4px;
      }
    }

  }
  .owl-controls{
    position: absolute;
    top: 35px;
    left: 30px;
    .owl-page{
      display: block;
      span {
        display: block;
        width: 10px;
        height: 10px;
        margin: 4px 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #FFF;
        -webkit-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s;
      }
    }
    .owl-page.active span,
    &.clickable .owl-page:hover span{
    }
  }
}


.routes{
  font-size: 18px;
  color: #7f7f7f;
  a{
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &:hover{
      background: #88E00A;
      color: #FFF;
    }
  }
  img{
    float: none;
  }
  .cntrBox:before,
  .cntrBox:after{
    position: absolute;
    top: 0;
    height: 75%;
    content: " ";
    display: block;;
  }
  .cntrBox:before{
    border-left: 1px solid #f4f4f4;
    left: 0;
  }
  .cntrBox:after{
    border-right: 1px solid #f4f4f4;
    right: 0;
  }
}

.titleBox{
  background: #7652B2;
  font-size: 22px;
  color: #FFF;
  line-height: 1.3;
  p{
    border-left: 2px solid #bba9d9;
  }
}

.order{
  font-size: 18px;
  color: #7a7a7a;
  background: #F4F4F4;
  span{
    font-size: 74px;
    color: #88E00A;
    top: -27px;
  }

}

.titleBox2{
  height: 650px;
  background: url("../img/slide2.jpg");
  color: #FFF;
  font-size: 22px;
  h3{
    font-family: $font-family-ralewaybold;
    font-size: 54px;
    font-weight: bold;
  }
}

.tours{
  .tourInfo{
    img{
      width: 100%;
    }
    .textBox{
      border: 1px solid #7a7a7a;
      border-top: none;
      p{
        font-size: 14px;
        color: #7a7a7a;
        .title{
          font-family: $font-family-ralewaysemibold;
          font-size: 18px;
          color: #000;
        }
        .price{
          font-family: $font-family-ralewaysemibold;
          font-size: 18px;
          color: #7652B2;
        }
      }
    }
    .slideInfo{
      background: #7652B2;
      height: 100%;
      top: -100%;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;
      p{
        color: #FFF;
        line-height: 1.5;
      }
      a{
        font-family: $font-family-ralewaysemibold;
        font-size: 18px;
        color: #FFF;
        border: 1px solid #FFF;
        -webkit-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        &:hover{
          background: #FFF;
          color: #7652B2;
        }
      }
    }
    &:hover{
      .slideInfo{
        top: 0;
      }
    }
  }
  .owl-controls{
    padding-top: 50px;
    .owl-page span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 3px;
      filter: Alpha(Opacity=100);
      opacity: 1;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #F4F4F4;
      -webkit-transition-duration: 0.6s;
      -o-transition-duration: 0.6s;
      -moz-transition-duration: 0.6s;
      transition-duration: 0.6s;
    }
    .owl-page.active span, &.clickable .owl-page:hover span{
      background: #88E00A;
    }
  }
}


.titleBox3{
  height: 650px;
  background: url("../img/slide3.jpg");
  color: #FFF;
  font-size: 22px;
  > div{
    bottom: 260px;
  }
  &:before,
  &:after{
    position: absolute;
    bottom: 0;
    height: 0;
    width: 50%;
    content: " ";
  }
  &:before{
    left: 50%;
    border-bottom: 35px solid #FFF;
    border-left: 35px solid transparent;
    z-index: 100000;
  }
  &:after{
    right: 50%;
    border-bottom: 35px solid #FFF;
    border-right: 35px solid transparent;
    z-index: 100000;
  }
  h3{
    font-family: $font-family-ralewaybold;
    font-size: 54px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 35px;
  }
}

.manual{
  .row{
    z-index: 2;
    position: relative;
    .imgBox{
      background: #FFF;
    }
  }
  .line{
    border: 8px solid #88E00A;
    border-left: none;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    width: 85%;
    height: 53%;
    top: 23.5%;
    right: 0;
    z-index: 1;
  }
}

.reviews{
  background: #F4F4F4;
  h3{
    border-bottom: 1px solid #FFF;
  }
  .imgBox{
    img{
      width: 100%;
      box-sizing: border-box;
      border: 5px solid #FFF;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .name{
    color: #7652B2;
  }
  .owl-controls{
    padding: 50px 0 40px;
    margin-bottom: 75px;
    border-bottom: 1px solid #FFF;
     .owl-page span {
       display: block;
       width: 12px;
       height: 12px;
       margin: 0 3px;
       filter: Alpha(Opacity=100);
       opacity: 1;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       background: #FFF;
       -webkit-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
       transition-duration: 0.6s;
     }
     .owl-page.active span, &.clickable .owl-page:hover span{
       background: #88E00A;
     }
  }
}

footer{
  background: #7652B2;
  color: #bba9d9;
  @include max-screen($screen-xs){
    text-align: center !important;
  }
  @include max-screen(700px) {
    div {
      text-align: center !important;
    }
    .social{
      a{
        margin: 0 5px !important;
      }
    }
  }
  @include max-screen(700px) {
    & > .container {
      & > .row {
        line-height: 50px !important;
      }
    }
  }
  a{
    color: #FFF;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    &:hover{
      color: #bba9d9;
      text-decoration: underline;
    }
  }
}

.one23{
  p{
    @include min-screen(600px) {
      width: 300px;
    }
  }
  @include max-screen(1023px){
    .col-md-4{
      &:last-of-type{
        margin-top: 40px;
        @include max-screen(600px) {
          margin-top: 70px;
        }

      }

    }
  }

  .col-md-12:nth-of-type(1){
  .col-lg-4{
    position: relative;
    @include max-screen(1023px){
      right: 40px;
    }
    @include max-screen(600px) {
      right: 25px;
    }
    &:after{
      content: " ";
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/arrow.svg");
      background-size: contain;
      width: 90px;
      height: 90px;
      position: absolute;
      bottom: 0;
      right: -45px;
      @include max-screen(600px) {
        display: none;
      }
    }
    @include min-screen(1023px){
      &:nth-of-type(3){
        &:after{
          display: none;
        }
      }
    }
  }
  }
  .col-md-12:nth-of-type(2){
    .col-lg-4{
      @include max-screen(600px) {
        right: 15px;
      }
      @include max-screen(600px) {
        padding-left: 0;
      }
      height:150px;
      @include max-screen(1023px){
        padding-top: 55px;
      }

    }
  }
}

.logoBig{
  text-align: center;
  @include min-screen(1023px){
    text-align: right;
  }

}
.topbar{
  .list-inline{
    @include max-screen(1023px){
      line-height: 25px;
    }
  }
}

.slideInfo{
  @include max-screen(768px){
    display: none;
  }
}

.sliderTours{
  .item{
    .col-xs-12{
      @include max-screen(768px){
        margin-bottom: 20px;
      }

    }
  }
}
.bg{
  background-color: rgba(0, 0, 0, 0.31);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

a.btn{
  @include transition(.3s all linear);
}
.sliderTours{
.imgBox{
  background: #FFF;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
}

@include max-screen($screen-sm){
  .sliderTop .item .slideText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 22px;
    color: #FFF;
  }
  .sliderTop .item .slideText h3 {
    font-family: 'ralewaybold', sans-serif;
    font-size: 68px;
    margin-bottom: 2px;
  }
}

@include max-screen($screen-xs){
  .topbar{
    height: 140px;
  }

  #slider,.slideBtns{
    display: none !important;
  }
}


.agreement{
  background: #F4F4F4;
  border-top: 3px solid #7652B2;
  color: #5D5D5D;
  @include max-screen($screen-xs){
    .row > div{
      padding: 0 15px !important;
    }
  }
  h2{
    color: #7652B2;
    background-repeat: repeat-x;
    background-position: center right;
    background-image: url("../img/agreement_bg.svg");
    @include max-screen($screen-xs){
      background: none;
    }
    span{
      background: #F4F4F4;
    }
  }
}

