/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .routes a {
    font-size: 14px; }
  .tours .tourInfo .slideInfo {
    padding: 15px !important; }
  footer .menu {
    text-align: right; }
    footer .menu li {
      margin: 0 0 0 28px !important; } }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .blogo {
    text-align: center; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
