@import "variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

body {
  font-family: $font-family-sans-serif;
  font-size: 14px;
}


@mixin blur($value:3px){
  -webkit-filter: blur($value);
  -moz-filter: blur($value);
  -o-filter: blur($value);
  -ms-filter: blur($value);
  filter: blur($value);
}

.fw-100{
  font-weight: 100;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fw-900{
  font-weight: 900;
}

.va-m{
  vertical-align: middle !important;
}
.va-t{
  vertical-align: top !important;
}
.va-b{
  vertical-align: bottom !important;
}

.pos-r{
  position: relative !important;
}
.pos-a{
  position: absolute !important;
}
.pos-f{
  position: fixed !important;
}

.dline{
  display: inline-block !important;
}
.dblock{
  display: block !important;
}
.dtablecell{
  display: table-cell !important;
}

.floatl{
  float: left !important;
}
.floatr{
  float: right !important;
}
.floatn{
  float: none !important;
}
.clear{
  clear: both !important;
}


@mixin h($max) {

  @for $i from 0 through $max {



    .fs#{$i},.h#{$i} {
      font-size: #{$i}px !important;
    }


  }
}



@mixin padding($max){

  @for $i from 0 through $max {

    .h-#{$i} {
      height: #{$i}px !important;
      width: 100%;
      float: left;
      display: block;
    }

    .l#{$i},.left-#{$i}{
      left:#{$i}px !important;
    }
    .t#{$i},.top-#{$i}{
      top:#{$i}px !important;
    }
    .b#{$i},.bottom-#{$i}{
      bottom:#{$i}px !important;
    }
    .r#{$i},.right-#{$i}{
      right:#{$i}px !important;
    }
    .p#{$i}-l,.p#{$i}-left{
      left:percentage($i/100) !important;
    }
    .p#{$i}-t,.p#{$i}-top{
      top:percentage($i/100) !important;
    }
    .p#{$i}-b,.p#{$i}-bottom{
      bottom:percentage($i/100) !important;
    }
    .p#{$i}-r,.p#{$i}-right{
      right:percentage($i/100) !important;
    }
    .w#{$i},.width-#{$i}{
      width: $i*1px !important;
    }
    .lh#{$i}{
      line-height: #{$i}px !important;

    }
    .h#{$i},.height-#{$i}{
      height: $i*1px !important;
    }

    .p#{$i}-w{
      width: percentage($i/100) !important;
    }
    .p#{$i}-h{
      height: percentage($i/100) !important;
    }

    .pd#{$i}{
      padding: (1px * $i) !important;
    }
    .mg#{$i}{
      margin: (1px * $i) !important;
    }
    .pt#{$i},.padding-top-#{$i} {
      padding-top: (1px * $i) !important;
    }
    .pb#{$i},.padding-bottom-#{$i} {
      padding-bottom: (1px * $i) !important;
    }
    .pl#{$i},.padding-left-#{$i} {
      padding-left: (1px * $i) !important;
    }
    .pr#{$i},.padding-right-#{$i} {
      padding-right: (1px * $i) !important;
    }
    .mt#{$i},.margin-top-#{$i} {
      margin-top: (1px * $i) !important;
    }
    .mb#{$i},.margin-bottom-#{$i} {
      margin-bottom: (1px * $i) !important;
    }
    .ml#{$i},.margin-left-#{$i} {
      margin-left: (1px * $i) !important;
    }
    .mr#{$i},.margin-right-#{$i} {
      margin-right: (1px * $i) !important;
    }
    .p#{$i}-pt,.p#{$i}-padding-top {
      padding-top: percentage($i/100) !important;
    }
    .p#{$i}-pb,.p#{$i}-padding-bottom {
      padding-bottom: percentage($i/100) !important;
    }
    .p#{$i}-pl,.p#{$i}-padding-left {
      padding-left: percentage($i/100) !important;
    }
    .p#{$i}-pr,.p#{$i}-padding-right {
      padding-right: percentage($i/100) !important;
    }
    .p#{$i}-mt,.p#{$i}-margin-top {
      margin-top: percentage($i/100) !important;
    }
    .p#{$i}-mb,.p#{$i}-margin-bottom {
      margin-bottom: percentage($i/100) !important;
    }
    .p#{$i}-ml,.p#{$i}-margin-left {
      margin-left: percentage($i/100) !important;
    }
    .p#{$i}-mr,.p#{$i}-margin-right {
      margin-right: percentage($i/100) !important;
    }
    
    

  }
}



$colors:(red:#ec1c24,yellow:#ffb301,grey:rgb(187, 189, 191),green:rgb(0, 177, 155),white:#fff,black:#000);
@function getColor($name){
  @return map_get($colors,$name);
}



@mixin bg($color){
  background: getColor($color);
}

@mixin generate($max){


@each $color_item in map_keys($colors) {
  $name: bg-#{$color_item};
  .bg-#{$color_item} {
    background: getColor($color_item) !important;
  }
  .txt-#{$color_item} {
    color: getColor($color_item) !important;
  }

  @for $radius from 1 through $max {
  .circle-#{$color_item}-#{$radius}{
    width: 2* $radius + px;
    color:#ffffff;
    height: 2* $radius + px;
    display: inline-block;
    border-radius: 50%;

    line-height: 2*$radius + px;
    text-align: center;
    vertical-align: middle;
    background: getColor($color_item);


  }
  .circle-#{$radius}{
    width: 2* $radius + px;
    color:#ffffff;
    height: 2* $radius + px;
    display: inline-block;
    border-radius: 50%;

    line-height: 2*$radius + px;
    text-align: center;
    vertical-align: middle;



  }
  }

}
}









@mixin scrollbar($color:#afafaf,$bg:#fff,$width:2px,$border:2px,$radius:30px) {

  &.scroll_on {
    overflow-y: scroll;
    overflow-x: hidden;

    padding-left: $width+floor($border/2)*2;
    padding-right: 4px;
    &:hover{
      padding-right: 2px;


    }

  }

  &::-webkit-scrollbar {
    width: 0;
    //    height: 0;
    //    opacity: 0;
    border: $border solid $color;
    background: $bg;

  }

  &:hover {

    &::-webkit-scrollbar {
      width: $width;
    }
  }

  &::-webkit-scrollbar-button {

    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: $bg;
    border: ($width+1px) solid $bg;

  }
  &::-webkit-scrollbar-track {
    //background: $color;
    border: floor($border/2) solid transparentize($bg, 0.7);
    background: transparentize($bg, 0.5);

  }
  &::-webkit-scrollbar-corner {
    background: $bg;
    height: 0;
    width: 0;
    display: none;
  }
  &::-webkit-scrollbar-track-piece {

  }

  &::-webkit-resizer {
    height: 0;
    width: 0;
    display: none;
  }
}

@mixin vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 0.50, $end-color: #c3325f) {
  background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;

}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}


::selection {
  background: $gray-light;
}
::-moz-selection {
  background: $gray-light;
}

@mixin scaleclass($max) {

  @for $i from 1 through $max {

    $strokewidth: (0.4*100) / $i;
    .scale-#{$i}{
      .item {
        svg {
          * {
            stroke-width: $strokewidth;
          }
        }
      }
    }
  }
}


