@import "variables";
@import "utils";
@import "response_lib";
@import "media";
@include padding(200);
@include h(300);
@include generate(50);
@include scaleclass(100);
@import "../fonts/fonts";


body{

}

header{
  width: 100%;
  @include min-screen($screen-md){
    height: 120px;
    line-height: 120px;
    a{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .first{
    .logo{
      img{
        width:128px;
        height: 37px;
        display: inline-block;
      }
    }
    @include max-screen($screen-md){
      text-align: center;
    }
  }
  .middle{
    .col-md-6{
      &:first-of-type{
        text-align: right;
      }
      &:last-of-type{
        text-align: left;
      }
    }
    @include max-screen($screen-md){
      .text-justify{
        li{
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .search{
    input{
      border: none;
      background: transparent;
      box-shadow: none;
      &:focus{
        background: transparent;
        box-shadow: none;
        border: none;
      }
    }
    .btn,.input-group-addon{
      background: transparent;
      box-shadow: none;
      border: none;
      padding-right: 20px;
    }
  }
  a{
    color: rgba(93, 93, 93, 0.5);
  }
}


/* Slider */
.sliderTop{
  .item {
    &:before,
    &:after{
      position: absolute;
      bottom: 0;
      height: 0;
      width: 50%;
      content: " ";
    }
    &:before{
      left: 50%;
      border-bottom: 35px solid #FFF;
      border-left: 35px solid transparent;
    }
    &:after{
      right: 50%;
      border-bottom: 35px solid #FFF;
      border-right: 35px solid transparent;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
    }
    .slideText{
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      font-size: 22px;
      color: #FFF;
      h3{
        font-family: $font-family-ralewaybold;
        font-size: 85px;
        margin-bottom: 2px;
      }
      p{
        line-height: 1;
        margin-bottom: 4px;
      }
    }
    .slideBtns{
      position: absolute;
      bottom: 140px;
      left: 0;
      right: 0;
      a{
        font-family: $font-family-ralewaysemibold;
        font-size: 17pt;
        color: #FFF;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        width: 290px;
        box-sizing: border-box;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
      }
      .btn-primary{
        background-image: url(../img/routesBtn.svg);
        background-position: 13px center;
        background-repeat: no-repeat;
        padding-left: 65px;
      }
    }
  }
  .owl-controls{
    position: absolute;
    top: 35px;
    left: 30px;
    .owl-page{
      display: block;
      span {
        display: block;
        width: 10px;
        height: 10px;
        margin: 4px 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #FFF;
        -webkit-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s;
      }
    }
    .owl-page.active span,
    &.clickable .owl-page:hover span{
    }
  }
}


.routes{
  font-size: 18px;
  color: #7f7f7f;
  a{
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &:hover{
      background: #88E00A;
      color: #FFF;
    }
  }
  img{
    float: none;
  }
  .cntrBox:before,
  .cntrBox:after{
    position: absolute;
    top: 0;
    height: 75%;
    content: " ";
    display: block;;
  }
  .cntrBox:before{
    border-left: 1px solid #f4f4f4;
    left: 0;
  }
  .cntrBox:after{
    border-right: 1px solid #f4f4f4;
    right: 0;
  }
}

.titleBox{
  background: #7652B2;
  font-size: 22px;
  color: #FFF;
  line-height: 1.3;
  p{
    border-left: 2px solid #bba9d9;
  }
}

.order{
  font-size: 18px;
  color: #7a7a7a;
  background: #F4F4F4;
  span{
    font-size: 74px;
    color: #88E00A;
    top: -27px;
  }
  .cntrBox:after,.cntrBox:before{
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/arrow.svg");
    background-size: contain;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 25px;
  }
  .cntrBox:after{
    right: -45px;
  }
  .cntrBox:before{
    left: -45px;
  }
}

.titleBox2{
  height: 650px;
  background: url("../img/slide.jpg");
  color: #FFF;
  font-size: 22px;
  h3{
    font-family: $font-family-ralewaybold;
    font-size: 54px;
    font-weight: bold;
  }
}

.tours{
  .tourInfo{
    img{
      width: 100%;
    }
    .textBox{
      border: 1px solid #7a7a7a;
      border-top: none;
      p{
        font-size: 14px;
        color: #7a7a7a;
        .title{
          font-family: $font-family-ralewaysemibold;
          font-size: 18px;
          color: #000;
        }
        .price{
          font-family: $font-family-ralewaysemibold;
          font-size: 18px;
          color: #7652B2;
        }
      }
    }
    .slideInfo{
      background: #7652B2;
      height: 100%;
      top: -100%;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;
      p{
        color: #FFF;
        line-height: 1.5;
      }
      a{
        font-family: $font-family-ralewaysemibold;
        font-size: 18px;
        color: #FFF;
        border: 1px solid #FFF;
        -webkit-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        &:hover{
          background: #FFF;
          color: #7652B2;
        }
      }
    }
    &:hover{
      .slideInfo{
        top: 0;
      }
    }
  }
  .owl-controls{
    padding-top: 50px;
    .owl-page span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 3px;
      filter: Alpha(Opacity=100);
      opacity: 1;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #F4F4F4;
      -webkit-transition-duration: 0.6s;
      -o-transition-duration: 0.6s;
      -moz-transition-duration: 0.6s;
      transition-duration: 0.6s;
    }
    .owl-page.active span, &.clickable .owl-page:hover span{
      background: #88E00A;
    }
  }
}


.titleBox3{
  height: 650px;
  background: url("../img/slide.jpg");
  color: #FFF;
  font-size: 22px;
  > div{
    bottom: 260px;
  }
  &:before,
  &:after{
    position: absolute;
    bottom: 0;
    height: 0;
    width: 50%;
    content: " ";
  }
  &:before{
    left: 50%;
    border-bottom: 35px solid #FFF;
    border-left: 35px solid transparent;
  }
  &:after{
    right: 50%;
    border-bottom: 35px solid #FFF;
    border-right: 35px solid transparent;
  }
  h3{
    font-family: $font-family-ralewaybold;
    font-size: 54px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 35px;
  }
}

.manual{
  .row{
    z-index: 2;
    position: relative;
    .imgBox{
      background: #FFF;
    }
  }
  .line{
    border: 8px solid #88E00A;
    border-left: none;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    width: 85%;
    height: 53%;
    top: 23.5%;
    right: 0;
    z-index: 1;
  }
}

.reviews{
  background: #F4F4F4;
  h3{
    border-bottom: 1px solid #FFF;
  }
  .imgBox{
    img{
      width: 100%;
      box-sizing: border-box;
      border: 5px solid #FFF;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .name{
    color: #7652B2;
  }
  .owl-controls{
    padding: 50px 0 40px;
    margin-bottom: 75px;
    border-bottom: 1px solid #FFF;
     .owl-page span {
       display: block;
       width: 12px;
       height: 12px;
       margin: 0 3px;
       filter: Alpha(Opacity=100);
       opacity: 1;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       background: #FFF;
       -webkit-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
       transition-duration: 0.6s;
     }
     .owl-page.active span, &.clickable .owl-page:hover span{
       background: #88E00A;
     }
  }
}

footer{
  background: #7652B2;
  color: #bba9d9;
  a{
    color: #FFF;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    &:hover{
      color: #bba9d9;
      text-decoration: underline;
    }
  }
}